<form (ngSubmit)="onSave(resztvevo)" *ngIf="resztvevo$ | async as resztvevo">
  <div class="form-group">
    <label>Résztvevő neve</label>
    <input
      name="name"
      [(ngModel)]="resztvevo.name"
      type="text"
      class="form-control"
    >
    <label>Résztvevő iskolája</label>
    <input
      name="school"
      [(ngModel)]="resztvevo.school"
      type="text"
      class="form-control"
    >
    <label>Előadást tart</label>
    <input
      name="presentation"
      [(ngModel)]="resztvevo.presentation"
      type="text"
      class="form-control"
    ></div>
    <button type="submit" class="btn btn-primary mt-4">
    Mentés
  </button>
</form>
