<form (ngSubmit)="onSave(resztvevo)" *ngIf="resztvevo$ | async as resztvevo">
  <div class="form-group mt-3">
    <label>Résztvevő neve</label>
    <input
      name="name"
      [(ngModel)]="resztvevo.name"
      type="text"
      class="form-control"
    >
    <label>Résztvevő iskolája</label>
    <input
      name="school"
      [(ngModel)]="resztvevo.school"
      type="text"
      class="form-control"
    ></div>
    <!-- <label>Előadást tart</label>
    <input
      name="presentation"
      [(ngModel)]="resztvevo.presentation"
      type="text"
      class="form-control"
    ></div> -->
    <div class="form-group">
      <label>Előadást tart</label>
      <select [(ngModel)]="resztvevo.presentation" name="presentation" class="form-control" >
        <option value="">Kérem válasszon!</option>
        <option>Igen</option>
        <option>Nem</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary mt-4">
      Mentés
    </button>
  </form>
