<div class="justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2  class="text-succes">Irányítópult </h2>
<div>

  <div class="justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3 class="text-succes" style="--bs-text-opacity: .1;">A nyilvántartó felület kezeléséhez kérem jelentkezzen be! </h3>
  <div>

<div>
  <h5>A Gyakorló Iskolák XIV. Országos Módszertani Konferenciáját 2022-ben a Kölcsey Ferenc Református Gyakorló Általános Iskola szervezi. <br>
    A háromnapos konferencia időpontja: 2022. szeptember 22-24., fő helyszíne a gyakorlóiskola.</h5>
</div>
 <h4>Kapcsolatfelvétel:</h4>
</div>

 <div class="col-6">
    <a href="https://kistk.hu/" target="-blank">https://kistk.hu/kapcsolat/</a>
 </div>

