<form (ngSubmit)="onSave(user)" *ngIf="user$ | async as user">
  <div class="form-group mt-3">
    <label>Email</label>
    <input
      name="email"
      [(ngModel)]="user.email"
      type="email"
      class="form-control"
      required
      placeholder="email"
      pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
    >
    <label>Vezetéknév</label>
    <input
      name="lasttName"
      [(ngModel)]="user.lastName"
      type="text"
      class="form-control"
      placeholder="Keresztnév"
      pattern="^([a-zA-Z]{2,}\s[a-zA-Z]{1,}'?-?[a-zA-Z]{2,}\s?([a-zA-Z]{1,})?)"
    >
    <label>Keresztnév</label>
    <input
      name="firstName"
      [(ngModel)]="user.firstName"
      type="text"
      class="form-control"
      placeholder="Vezetéknév"
      pattern="^([a-zA-Z]{2,}\s[a-zA-Z]{1,}'?-?[a-zA-Z]{2,}\s?([a-zA-Z]{1,})?)"
    >
    <label>Jogosultság</label>
    <input
      name="role"
      [(ngModel)]="user.role"
      type="text"
      class="form-control"
      placeholder="Ide csak szám kerülhet"
      pattern="^[0-9]*$"
    >
    <label>Password</label>
    <input
      name="password"
      [(ngModel)]="user.password"
      type="text"
      class="form-control"
    ></div>
  <button class="btn btn-primary mt-4">
    Mentés
  </button>
</form>
