<form (ngSubmit)="onSave(eloado)" *ngIf="eloado$ | async as eloado">
  <div class="form-group">
    <label>Előadó neve</label>
    <input
      name="name"
      [(ngModel)]="eloado.name"
      type="text"
      class="form-control"
    >
    <label>Előadó iskolája</label>
    <input
      name="school"
      [(ngModel)]="eloado.school"
      type="text"
      class="form-control"
    >
    <label>Előadás címe</label>
    <input
      name="presentationName"
      [(ngModel)]="eloado.presentationName"
      type="text"
      class="form-control"
    >
    <!-- <label>Szekció neve</label>
    <input
      name="section"
      [(ngModel)]="eloado.section"
      type="text"
      class="form-control"
    > -->
  </div>
  <div class="form-group">
    <label>Szekció neve</label>
    <select [(ngModel)]="eloado.szekcio" name="szekcio" class="form-control">
      <option value="">Válasszon szekciót!</option>
      <option *ngFor="let szek of szekciok$ | async" [value]="szek._id">
        {{ szek.sectionName }}
      </option>

    </select>
  </div>
  <button type="submit" class="btn btn-primary mt-4">
    Mentés
  </button>
</form>
